<div class="footer-nav fixed-bottom d-flex d-lg-none justify-content-center align-items-center bd-highlight">
  <a class="nav-icon mx-4" href="/">
    <i class="fa-solid fa-house"></i>
  </a>
  <a class="nav-icon mx-4" href="#">
    <i class="fa-solid fa-clapperboard"></i>
  </a>
  <a class="nav-icon mx-4" href="#">
    <i class="fa-solid fa-star"></i>
  </a>
  <a class="nav-icon mx-4" href="#">
    <i class="fa-solid fa-user"></i>
  </a>
</div>